.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/like.svg);
  width: 23px;
  height: 20px;
  background-color: transparent;
  border: none;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
