.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 32px;
  right: 50px;
  background-color: transparent;
  border-style: none;
  color: #212121;
  opacity: 40%;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-size: 20px;
  box-sizing: border-box;
}
.modal__input::placeholder {
  color: #212121;
  opacity: 40%;
}

.modal__save-btn {
  padding: 18px 58px;
  background-color: #212121;
  color: #fff;
  max-width: 156px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.modal__save-btn:hover {
  opacity: 80%;
  background-color: #212121;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__save-btn {
    max-width: none;
  }
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 22px 12px 12px;
  }
  .modal__title {
    margin: 0 0 34px;
    font-size: 20px;
  }
  .modal__close-btn {
    right: 12px;
    top: 12px;
  }
  .modal__input {
    font-size: 16px;
  }
  .modal__input::placeholder {
    font-size: 16px;
  }
}
