.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 5%;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.profile__description {
  margin: 0;
  opacity: 0.7;
}

.profile__edit-btn {
  cursor: pointer;
  margin-top: auto;
  background-color: transparent;
  border: none;
  color: #212121;
  opacity: 70%;
  display: flex;
  gap: 8px;
  padding: 0;
  justify-content: start;
  align-items: center;
}

.profile__edit-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__add-btn {
  background-color: #212121;
  border-radius: 8px;
  color: #fff;
  height: 52px;
  width: 149px;
  padding: 0;
  margin: 128px 0 0 auto;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

.profile__plus-btn {
  height: 16px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
    border-radius: 5%;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
  }

  .profile__column {
    margin-bottom: 20px;
  }

  .profile__description {
    margin-bottom: 32px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }

  .profile__edit-btn {
    background-color: transparent;
    border: none;
    color: #212121;
    opacity: 70%;
    display: flex;
    gap: 8px;
    justify-content: center;
  }
}
